.radio-button .radio {
    -fx-border-color: #d8d8d8;
    -fx-background-color: #d8d8d8;
    -fx-background-image: null;
    -fx-border-radius: 8px;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}