.date-picker{
	-fx-background-color: #f4f8f7;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 5;
	-fx-font-size: 13px;
	-fx-font-family: "DM Sans";
	-fx-text-fill: #939594;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker .arrow-button {
	-fx-background-color: #d8d8d8;
	-fx-background-radius: 0 5 5 0; 
}

.date-picker .arrow-button:hover {
	-fx-background-color: #d8d8d8;
}

.date-picker .arrow-button .arrow {
	-fx-background-color: black;
}

.date-picker .cell {
	-fx-background-color: white;
}

.date-picker .cell:hover {
	-fx-background-color: #c4c4c4;
}

.date-picker .cell:focused {
	-fx-background-color: #c4c4c4;
}

.date-picker .selected {
	-fx-background-color: #f4f8f7;
	-fx-text-fill: black;
}

.date-picker .selected:focused {
	-fx-background-color: #f4f8f7;
	-fx-text-fill: black;
}

.date-picker-popup  {
	-fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: #f4f8f7;
}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: black;
}

.date-picker-popup .week-number-cell {
	-fx-text-fill: #d8d8d8;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: black;
}